<md-dialog class="map" style="width: 90%; height: 80%;">
    <md-toolbar class="md-primary">
        <div class="md-toolbar-tools">
            <h2 translate>modal:we_are_on_the_map</h2>
            <span flex></span>
            <md-button ng-click="vm.hide()" class="md-icon-button" aria-label="close">
                <md-icon class="material-icons md-light md-24">close</md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content style="width: 100%; height: 100%; opacity: 0.8;">
        <yandex-map center="vm.center" zoom="vm.zoom"
                    style="display: block; width: 100%; height: 100%;">
            <ymap-marker coordinates="vm.coords" properties="vm.properties"></ymap-marker>
        </yandex-map>
    </md-dialog-content>
</md-dialog>
