<md-dialog class="sign-up-for-lesson">
    <md-toolbar class="md-primary">
        <div class="md-toolbar-tools">
            <h2 translate>modal:sign_up_for_lesson</h2>
            <span flex></span>
            <md-button class="md-icon-button md-ink-ripple" ng-click="vm.cancel()">
                <md-icon aria-label="" md-svg-icon="svg/close.svg"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content>
        <form name="signUpForLessonForm" novalidate autocomplete="off">
            <div class="md-dialog-content">

                <!--Name starts-->
                <div layout-gt-sm="row">
                    <md-input-container class="md-block" flex-gt-sm
                                        md-is-error="signUpForLessonForm.$submitted && signUpForLessonForm.name.$invalid">
                        <label translate>name</label>
                        <input md-no-asterisk type="text" name="name" ng-model="vm.message.name" required maxlength="100" clear-validity>
                        <div ng-messages="signUpForLessonForm.name.$error"
                             ng-show="(signUpForLessonForm.$submitted && signUpForLessonForm.name.$invalid)" class="error-messages">
                            <div class="validation-error" ng-message="required">
                                <span translate>validation:required</span>
                            </div>
                            <div class="validation-error" ng-message="servererror">{{vm.serverErrors.name}}</div>
                        </div>
                    </md-input-container>
                </div>
                <!--Name ends-->


                <!--Phone starts-->
                <div layout-gt-sm="row">
                    <md-input-container class="md-block" flex-gt-sm
                                        md-is-error="signUpForLessonForm.$submitted && signUpForLessonForm.email.$invalid">
                        <label translate>phone</label>
                        <input md-no-asterisk type="email" name="phone" ng-model="vm.message.phone" required phone-validation clear-validity
                               autocomplete="off">
                        <div ng-messages="signUpForLessonForm.phone.$error"
                             ng-show="(signUpForLessonForm.$submitted && signUpForLessonForm.phone.$invalid)" class="error-messages">
                            <div class="validation-error" ng-message="required">
                                <span translate>validation:phone_required</span>
                            </div>
                            <div class="validation-error" ng-message="phone">
                                <span translate>validation:incorrect_phone</span>
                            </div>
                            <div class="validation-error" ng-message="phone-validation">
                                <span translate>validation:incorrect_phone</span>
                            </div>
                            <div class="validation-error" ng-message="servererror">{{vm.serverErrors.phone}}</div>
                        </div>
                    </md-input-container>
                </div>
                <!--Phone ends-->

                <!--Directions on the dance start-->
                <md-input-container class="md-block md-primary" flex>
                    <label translate>direction</label>
                    <md-select ng-model="vm.direcations" class="md-primary">
                        <md-option ng-value="direction" ng-repeat="direction in vm.directions">{{direction}}</md-option>
                    </md-select>
                </md-input-container>
                <!--Directions on the dance end-->
            </div>
        </form>
    </md-dialog-content>

    <md-dialog-actions layout="row">
        <md-button ng-click="vm.hide()">
            <span translate>modal:cancel</span>
        </md-button>
        <md-button ng-click="vm.sendMessage(signUpForLessonForm)"
                   ng-disabled="(signUpForLessonForm.$invalid && signUpForLessonForm.$submitted) || vm.busy">
            <span translate>modal:send</span>
        </md-button>
    </md-dialog-actions>
</md-dialog>
