<md-dialog class="video-modal">
    <md-dialog-content>
      <div class="video-modal--close-btn" ng-click="vm.hide()">
        <svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25" fit="" preserveAspectRatio="xMidYMid meet" focusable="false">
          <path fill="#ffffff" fill-rule="evenodd" d="M 25 22.89 C 25 22.89 22.89 25 22.89 25 C 22.89 25 12.5 14.61 12.5 14.61 C 12.5 14.61 2.11 25 2.11 25 C 2.11 25 0 22.89 0 22.89 C 0 22.89 10.39 12.5 10.39 12.5 C 10.39 12.5 0 2.11 0 2.11 C 0 2.11 2.11 0 2.11 0 C 2.11 0 12.5 10.39 12.5 10.39 C 12.5 10.39 22.89 0 22.89 0 C 22.89 0 25 2.11 25 2.11 C 25 2.11 14.61 12.5 14.61 12.5 C 14.61 12.5 25 22.89 25 22.89 Z"></path>
        </svg>
      </div>
      <div class="embed-responsive embed-responsive-16by9">
        <iframe src="" ng-src="{{vm.url}}" frameborder="0"></iframe>
      </div>
    </md-dialog-content>
</md-dialog>
