<div flex class="main-about" ng-style="{{aboutShort.mainBackground}}">
    <div class="main-about--inner">
        <div class="wrap-container">
            <div layout="row" layout-align="center center">
                <div flex-md="25" flex-gt-md="25" flex-sm="10" hide-sm hide-xs>
                    <img ng-src="{{aboutShort.photos.left}}"
                         class="md-card-image" alt="Main photo">
                </div>
                <div flex-md="50" flex-gt-md="50" flex-sm="80"  flex-xs="100">
                    <div class="title">
                        О студии
                    </div>
                    <div class="main-about--description" ng-bind="aboutShort.description"></div>
                </div>
                <div flex-md="25" flex-gt-md="25" flex-sm="10" hide-sm hide-xs>
                    <img ng-src="{{aboutShort.photos.right}}"
                         class="md-card-image" alt="Main photo">
                </div>
            </div>
        </div>
    </div>
</div>