<div flex class="main-directions">
    <div class="wrap-container">
        <div layout="row" layout-wrap>
           <div flex="25" ng-repeat="direction in direction.directions">
               <div class="main-directions--image">
                   <img photo-preload="/img/tanzapaar_standard.png" fallback-src="/img/tanzapaar_standard.png" origin-src="{{direction.image}}" alt="{{direction.title}}">
               </div>
               <div class="main-directions--title" ng-bind="direction.title"></div>
           </div>
        </div>
    </div>
</div>