<div class="swiper-container">
    <div class="swiper-wrapper">
        <div ng-repeat="banner in slider.banners track by $index" class="swiper-slide" last-repeat
             ng-class="'slide--' + $index">
            <h3 class="swiper-banner-text" ng-bind="banner.title" ng-if="banner.title"></h3>
            <md-button ng-if="banner.button_type !== 'none'" class="md-button swiper-button" ng-click="slider.handleButtonClick(banner)">
                <span ng-bind="banner.button_text"></span>
            </md-button>
        </div> <!--ORIGIN SLIDER, UNCOMMENT LATER-->
    </div>
    <div class="swiper-pagination"></div>
    <div class="swiper-button-next">
        <svg fill="#2e0a05" height="48" viewBox="0 0 24 24" width="48" xmlns="http://www.w3.org/2000/svg">
            <path fill="#2e0a05" d="M8.59 16.34l4.58-4.59-4.58-4.59L10 5.75l6 6-6 6z"/>
        </svg>
    </div>
    <div class="swiper-button-prev">
        <svg fill="#2e0a05" height="48" viewBox="0 0 24 24" width="48" xmlns="http://www.w3.org/2000/svg">
            <path fill="#2e0a05" d="M15.41 16.09l-4.58-4.59 4.58-4.59L14 5.5l-6 6 6 6z"/>
        </svg>
    </div>
</div>
