.main-content
  display flex
  flex-direction column
  width 100%
  height 100%

  .main-banner
    position relative
    overflow hidden
    .main-banner-cover-down
      position absolute
      height 100%
      img
        width 100%
        min-height 100%
    .main-banner-cover-up
      position absolute
      height 100%
      .main-banner-offset-top
        height 40px
        background-color rgba(46, 10, 5, 0.85)
      .main-banner-offset-bottom
        height 40px
        background-color rgba(46, 10, 5, 0.85)
        float right
        width 100%
      img
        width 100%
        height auto
        float right

.wrap-container
  max-width 1600px
  padding 48px 24px
  margin auto

.main-about
  background-size 100% 100%
  background-repeat no-repeat
  background-position center
  background-size auto 100%
  img
    max-width 100%
  &--inner
    background-color rgba(255, 211, 148, 0.53)
    .title
      position relative
      display inline-block
      width 100%
      text-align center
      color brown
      font-size 37px
      line-height 46px
      text-transform uppercase
      margin 15px 0
  &--description
    padding 0px 24px
    font-size 18px
    line-height 24px
    color brown

.main-directions
  background-image url('/img/logo_color.png')
  background-color brown
  background-repeat no-repeat
  background-position center
  &--image
    width 100%
    height 100%
    img
      max-width 100%
      max-height 100%
  &--title
    color white
    text-align center

.material-icons
  &.md-dark
    color brownDark
  &.md-light
    color white
  &.md-18
    font-size 18px
  &.md-24
    font-size 24px
  &.md-36
    font-size 36px
  &.md-48
    font-size 48px