main-slider
  background-color black
.swiper-container
  height 550px
  width 100%
  opacity 0
  opacity 1
  transition opacity .22s ease-in-out
  &.ready
    opacity 1

  .swiper-slide
    position relative
    background-repeat no-repeat
    background-size cover
    background-position center
    @media (max-width 600px)
      text-align center
    &--inner-gradient
      position absolute
      top 0
      bottom 0
      left 0
      right 0
      width 100%
      height 100%
      background linear-gradient(90deg,rgba(0,0,0,.55) 0,transparent 30%,transparent 70%,rgba(0,0,0,.55))
  .swiper-pagination-bullet
    width 12px
    height 12px
    opacity 1
    background #909090
    box-sizing border-box
    position relative
    box-shadow: 0 0 0 2px rgba(255,255,255,0.1);

    &.swiper-pagination-bullet-active
        background brown
        box-shadow: 0 0 0 2px #b7b6b6

  .swiper-button-next,
  .swiper-button-prev
    width 32px
    height 32px
    overflow hidden
    bottom 16px
    top auto
    background-image none !important
    svg
      position absolute
      top -6px
      left -7px
      path
        fill brown
        transition all .22s ease-in-out
    &:hover svg path
      fill brownDark

  .swiper-button-prev
    left 44px
    @media(max-width 600px)
      left 9px
  .swiper-button-next
    right 44px
    @media(max-width 600px)
      right 9px

  .swiper-button
    color white
    background-color #2c6c5d
    transition all .33 ease-in-out
    padding 0 50px
    position absolute
    bottom 100px
    left 44px
    margin 0
    max-height 32px !important
    min-height 32px
    line-height 32px
    &:hover
      background-color lighten(#2c6c5d, 5)
    @media(max-width 600px)
      position relative
      left 0
      font-size 13px
      box-sizing border-box
      bottom 135px

  .swiper-banner-text
    margin 0
    padding 0
    color brown
    position absolute
    font-size 46px
    font-weight 400
    letter-spacing -2px
    top 24px
    width 100%
    text-align center
    vertical-align text-bottom
    display flex
    flex-direction column
    justify-content flex-end
    @media (max-width 600px)
      position relative
      margin 0 20px
      font-size 36px
      text-align center




.swiper-container-horizontal>.swiper-pagination-bullets
  bottom 20px
.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet
  margin 0 9px
