@font-face {
  font-family: 'Roboto Mono';
  src: local('Roboto Mono Light'), local('RobotoMono-Light'), url('../fonts/Robotomono/Robotomonolight.woff2') format('woff2'), url('../fonts/Robotomono/Robotomonolight.woff') format('woff'), url('../fonts/Robotomono/Robotomonolight.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto Mono';
  src: local('Roboto Mono'), local('RobotoMono-Regular'), url('../fonts/Robotomono/Robotomono.woff2') format('woff2'), url('../fonts/Robotomono/Robotomono.woff') format('woff'), url('../fonts/Robotomono/Robotomono.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto Mono';
  src: local('Roboto Mono Thin'), local('RobotoMono-Thin'), url('../fonts/Robotomono/Robotomonothin.woff2') format('woff2'), url('../fonts/Robotomono/Robotomonothin.woff') format('woff'), url('../fonts/Robotomono/Robotomonothin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto Mono';
  src: local('Roboto Mono Italic'), local('RobotoMono-Italic'), url('../fonts/Robotomono/Robotomonoitalic.woff2') format('woff2'), url('../fonts/Robotomono/Robotomonoitalic.woff') format('woff'), url('../fonts/Robotomono/Robotomonoitalic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Roboto Mono';
  src: local('Roboto Mono Medium Italic'), local('RobotoMono-MediumItalic'), url('../fonts/Robotomono/Robotomonomediumitalic.woff2') format('woff2'), url('../fonts/Robotomono/Robotomonomediumitalic.woff') format('woff'), url('../fonts/Robotomono/Robotomonomediumitalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: 'Roboto Mono';
  src: local('Roboto Mono Light Italic'), local('RobotoMono-LightItalic'), url('../fonts/Robotomono/Robotomonolightitalic.woff2') format('woff2'), url('../fonts/Robotomono/Robotomonolightitalic.woff') format('woff'), url('../fonts/Robotomono/Robotomonolightitalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'Roboto Mono';
  src: local('Roboto Mono Thin Italic'), local('RobotoMono-ThinItalic'), url('../fonts/Robotomono/Robotomonothinitalic.woff2') format('woff2'), url('../fonts/Robotomono/Robotomonothinitalic.woff') format('woff'), url('../fonts/Robotomono/Robotomonothinitalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: 'Roboto Mono';
  src: local('Roboto Mono Medium'), local('RobotoMono-Medium'), url('../fonts/Robotomono/Robotomonomedium.woff2') format('woff2'), url('../fonts/Robotomono/Robotomonomedium.woff') format('woff'), url('../fonts/Robotomono/Robotomonomedium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto Mono';
  src: local('Roboto Mono Bold Italic'), local('RobotoMono-BoldItalic'), url('../fonts/Robotomono/Robotomonobolditalic.woff2') format('woff2'), url('../fonts/Robotomono/Robotomonobolditalic.woff') format('woff'), url('../fonts/Robotomono/Robotomonobolditalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: 'Roboto Mono';
  src: local('Roboto Mono Bold'), local('RobotoMono-Bold'), url('../fonts/Robotomono/Robotomonobold.woff2') format('woff2'), url('../fonts/Robotomono/Robotomonobold.woff') format('woff'), url('Robotomono/Robotomonobold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'AC Line';
  src: local('AC Line'), url('../fonts/acline/acline.woff2') format('woff2'), url('../fonts/acline/acline.woff') format('woff'), url('../fonts/acline/acline.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}


@font-face {
  font-family: 'B20 Sans';
  src: local('B20 Sans'), url('../fonts/b20sans/b20sans.woff2') format('woff2'), url('../fonts/b20sans/b20sans.woff') format('woff'), url('../fonts/b20sans/b20sans.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}



@font-face {
  font-family: 'Cleanvertising';
  src: local('Cleanvertising-Light'), url('../fonts/cleanvertising/cleanvertising-light.woff2') format('woff2'), url('../fonts/cleanvertising/cleanvertising-light.woff') format('woff'), url('../fonts/cleanvertising/cleanvertising-light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Cleanvertising';
  src: local('Cleanvertising-Black'), url('../fonts/cleanvertising/cleanvertising-black.woff2') format('woff2'), url('../fonts/cleanvertising/cleanvertising-black.woff') format('woff'), url('../fonts/cleanvertising/cleanvertising-black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@import url(http://allfont.ru/allfont.css?fonts=comic-sans-ms);