header
  position fixed
  width 100%
  height 98px
  background-color brown
  z-index 9

  .header-wrap
    position relative
    width 100%
    height 100%
    background-color brown
    max-width 1600px
    padding 5px 20px
    margin auto

    .logo
      position relative
      height 100%

      .logo-link
        height 100%

        @media (max-width 900px)
          height 70%
        @media (max-width 750px)
          height 50%

        img
          height 100%
          width auto

    md-list.address
      md-list-item
        font-size 12px
        padding 0
        min-height 24px

    .contacts
      min-height 100%
      text-align center

    .main-bar
      min-height 100%
      text-align center

md-sidenav
  md-toolbar
    max-height 215px
    background-color brown !important
    .logo-link
      text-align center
      img
        width 90%
        height auto