/*****************************
 All rights reserved.
 AllFont.ru (c) 2011-2015
 *****************************/
@font-face {
  font-family: 'Comic Sans MS';
  font-style: normal;
  font-weight: 400;
  src: local('Comic Sans MS'), local('ComicSansMS-Regular'),url(http://allfont.ru/cache/fonts/comic-sans-ms_53a8778a817839ef2dbc5dc94ce14334.woff) format('woff'),url(http://allfont.ru/cache/fonts/comic-sans-ms_53a8778a817839ef2dbc5dc94ce14334.ttf) format('truetype');
}

body
  position relative
  margin 0
  background-color beige
  font-family 'Comic Sans MS'

  ui-view
    display inline
    width 100%
    min-height 100%

  .container
    width 100%
    overflow auto
    box-sizing border-box
    overflow hidden
    
md-sidenav
  position fixed

//js
.loading-svg, .error-svg
  display none
.image-loading
  .loading-svg
    display block !important
  .error-svg,
  > img
    display none !important
.image-error
  .loading-svg,
  > img
    display none !important
  .error-svg
    display block !important

