md-dialog
  .close
    float right
  md-toolbar
    background-color brown !important
    padding 12px 0px
    svg
      path
        fill #ffffff
  .md-toolbar-tools
    height auto
  form
    md-input-container
      margin 6px

  &.sign-up-for-lesson
    min-width 350px

  md-dialog-actions
    .md-button
      color brown
      &:hover
        color brownDark

md-input-container.md-default-theme:not(.md-input-invalid).md-input-focused .md-input, md-input-container:not(.md-input-invalid).md-input-focused .md-input, md-input-container.md-default-theme:not(.md-input-invalid).md-input-resized .md-input, md-input-container:not(.md-input-invalid).md-input-resized .md-input
  border-color brown !important

md-input-container.md-default-theme:not(.md-input-invalid).md-input-focused label, md-input-container:not(.md-input-invalid).md-input-focused label
  color brown !important

md-select-menu.md-default-theme md-content md-option[selected], md-select-menu md-content md-option[selected]
  color brown !important
  
md-select.md-default-theme:not([disabled]):focus ._md-select-value, md-select:not([disabled]):focus ._md-select-value
  border-color brown


.video-modal
  max-width 700px
  width 90%
  overflow visible !important
  md-dialog-content
    position relative
    overflow visible !important

.video-modal--close-btn
  position absolute
  top -40px
  right -40px
  width 20px
  height 20px
  cursor pointer
  @media(max-width 850px)
    right -10px
  svg
    transition all .22s ease-in-out
  &:hover
    svg path
      fill #2c6c5d


.embed-responsive-16by9
  padding-bottom 56.25% !important
  background-color black
  iframe
    width 100%
    height 100%
    position absolute
    top 0
    bottom 0
    left 0
    right 0

.embed-responsive
  position relative
  display block
  height 0
  padding 0
  overflow hidden