<div layout="row" class="main-bar" flex="auto" layout-align="center center">
    <div flex-gt-sm="80" flex-sm="70" layout-align="center center"  hide-sm hide-xs>
        <div layout="column" class="action-bar" layout-align="center center">
            <div flex layout-align="center center">
                <md-icon aria-label="" md-svg-icon="/svg/ic_local_phone_white_24px.svg"></md-icon>
                <span class="md-caption">+3 8(066) 302-00-34, +3 8(063) 490-31-00</span>
                <md-button class="md-accent md-body-1" ng-click="toolbarCtrl.showSignUpForLessonModal()"><span translate>sign_up_for_lesson</span></md-button>
            </div>
            <div flex class="action-bar--links" layout-align="center">
                <a href="#" class="md-button action-bar--link">О нас</a>
                <a href="#" class="md-button action-bar--link">Стили</a>
                <a href="#" class="md-button action-bar--link action-bar--search-btn mr0">Акции</a>
                <a href="#" class="md-button action-bar--link action-bar--search-btn mr0">Новости</a>
                <a href="#" class="md-button action-bar--link action-bar--search-btn mr0">Галерея</a>
            </div>
        </div>
    </div>
    <div flex-gt-sm="20" flex-sm="100" layout-align="center center">
        <div layout="row" layout-align="center center" class="contacts" hide-xs>
            <div flex layout-align="center center" hide-gt-sm>
                <md-button class="md-accent md-body-1"  hide-gt-sm ng-click="toolbarCtrl.showSignUpForLessonModal()"><span translate>sign_up_for_lesson</span></md-button>
            </div>
            <div flex layout-align="center center">
                <md-button class="md-accent mb-body-1" ng-click="toolbarCtrl.showMap()">
                    <md-icon aria-label="" md-svg-icon="/svg/ic_business_white_48px.svg"></md-icon>
                    МЫ НА КАРТЕ
                </md-button>
            </div>
        </div>
    </div>
</div>