<header>
    <md-toolbar layout="row" class="header-wrap">
        <div flex="25" flex-xs="50" layout="row" class="logo big" layout-align="start center">
            <md-button class="md-icon-button" ng-click="head.toggleSidenav()" hide-gt-sm>
                <md-icon aria-label="" md-svg-icon="/svg/ic_menu_white_24px.svg"></md-icon>
            </md-button>
            <a ui-sref="app.main" class="logo-link">
                <img src="/img/logo.png">
            </a>
        </div>
        <header-toolbar></header-toolbar>
    </md-toolbar>
</header>


