<md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" show-xs show-sm hide-gt-xs>
    <md-toolbar class="md-theme-light" class="mobile-head">
        <a ui-sref="app.main" class="logo-link">
            <img src="/img/logo.png">
        </a>
    </md-toolbar>
    <md-content layout-padding>
        <md-menu-content class="user-menu">
            <md-menu-item>
                <a href="#" class="md-button action-bar--link">О нас</a>
            </md-menu-item>
            <md-menu-item><a href="#" class="md-button action-bar--link">Стили</a></md-menu-item>
            <md-menu-item><a href="#" class="md-button action-bar--link action-bar--search-btn mr0">Акции</a>
            </md-menu-item>
            <md-menu-item><a href="#" class="md-button action-bar--link action-bar--search-btn mr0">Новости</a>
            </md-menu-item>
            <md-menu-item><a href="#" class="md-button action-bar--link action-bar--search-btn mr0">Галерея</a>
            </md-menu-item>
        </md-menu-content>
    </md-content>
</md-sidenav>
