<app-header></app-header>
<md-content layout="row" layout-wrap layout-align="center" id="content">
    <h1 class="visually-hidden"></h1>
    <sidenav></sidenav>
    <ui-view class="container"></ui-view>
</md-content>

