<div class="main-content">
    <div class="main-banner" main-banner>
        <div class="main-banner-cover-down">
            <img src="/img/main.jpg">
        </div>
        <div class="main-banner-cover-up main-cover">
            <div class="main-banner-offset-top cover-separator-1"></div>
            <img src="/img/main.png">
            <div class="main-banner-offset-bottom cover-separator-2"></div>
        </div>
    </div>

    <main-slider banners="vm.banners" ng-if="vm.banners.length"></main-slider>
    <about-us layout="row" description="vm.shortDescription" photos="vm.photos" main-photo="vm.mainPhoto" ng-if="vm.shortDescription"></about-us>
    <directions-dance layout="row" directions="vm.directions" ng-if="vm.directions">
        <h1>Направления</h1>
    </directions-dance>
</div>


